@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#root {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  background-color: #fdfdfd;
}

#display {
  font-size: 20px;
  text-align: center;
  margin-left: 50px;
}

#drum-pads {
  height: 40vh;
  width: 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }

.drum-pad {
  border: 2px solid black;
  height: 12.5vh;
  width: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.25vw;
  background-color: #335fd8;
}